<configuration>
  <appSettings>
    <add key="KissLog.OrganizationId" value="0337cd29-a56e-42c1-a48a-e900f3116aa8" />
    <add key="KissLog.ApplicationId" value="7205e6f5-0551-43a6-a37c-80b98ddfa44e" />
    <add key="KissLog.ApiUrl" value="https://api.kisslog.net" />
  </appSettings>
</configuration>